
/*==============================*/
/* jQuery UI dialog             */
/*==============================*/

.ui-dialog-overlay
{
  background: #FFF;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

#nodepicker_dialog
{
  display: none;
}

.ui-dialog 
{
  background: #111;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.ui-dialog-container
{
  background: #FFF;
}

.ui-dialog-titlebar
{
  height: 30px;
  background: #111;
  line-height: 25px;
  font-size: 1.2em;
  color: #999;
  padding: 0 5px;
}

.ui-dialog-titlebar-close:link,
.ui-dialog-titlebar-close:visited
{
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  color: #666;
  text-decoration: none;
}

.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar-close:active
{
  text-decoration: none;
  color: #CCC;
}