
/*==============================*/
/* RESET                        */
/*==============================*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
  border:0;
}

/*==============================*/
/* GENERAL                      */
/*==============================*/

html {
  overflow: hidden;
}

body {
  background: #111;
  padding: 0;
  margin: 0;
  width: 602px;
  height: 450px;
  overflow: hidden;
  font: 12px/170% Verdana, sans-serif;
  color: #494949;
}

h2 {
  font-size: 1.2em;
  line-height: 36px;
  height: 36px;
  padding: 0 10px;
  float: left;
  display: block;
  color: #333;
}

a:link, a:visited {
  color: #027AC6;
  text-decoration: none;
}

a:hover {
  color: #0062A0;
  text-decoration: underline;
}

a:active, a.active {
  color: #5895be;
}

#fade {
  width: 100%;
  height: 100%;
  background: #111;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
}

.page {
  display: none;
}

/*==============================*/
/* HEADER                       */
/*==============================*/

.header {
  width: 602px;
  height: 36px;
  display: block;
  background: #666;
  border-bottom: 1px solid #111;
  overflow: hidden;
  position: relative;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
}



/*==============================*/
/* BROWSE                       */
/*==============================*/

#browse {
  width: 602px;
  height: 396px;
  margin: 0;
  background: #CCC;
}

#browse .views-admin-links {
  display: none !important;
}

#browse table {
  width: 100%;
}

#browse td,
#browse th {
  padding: 4px;
}



/*==============================*/
/* BROWSE                       */
/*==============================*/

#browse .view-filters {
  display: none !important;
}



/*==============================*/
/* PAGER                        */
/*==============================*/

#browse .browse ul.pager,
.footer {
  position: absolute;
  bottom: 0;
  height: 36px;
  width: 602px;
  background: #666;
  border-top: 1px solid #111;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  line-height: 36px;
  margin: 0;
  clear: both;
}

#browse .browse ul.pager li {
  padding: 0;
  margin: 0 3px;
}

#browse .browse ul.pager li.pager-current {
  background: #333;
  padding: 2px 5px;
  border: 1px solid #111;
  color: #FFF;
}

#browse .browse ul.pager li a:link,
#browse .browse ul.pager li a:visited {
  background: #999;
  padding: 2px 5px;
  border: 1px solid #555;
  color: #111;
}

#browse .browse ul.pager li a:hover,
#browse .browse ul.pager li a:active {
  background: #CCC;
  padding: 2px 5px;
  border: 1px solid #333;
  text-decoration: none;
}

.views-throbbing {
	display: inline!important;
}



/*==============================*/
/* BUTTONS                      */
/*==============================*/

a.button {
  float: right;
}

a.button:link,
a.button:visited {
  margin: 5px 5px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #111;
  background: #777;
  height: 24px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  padding: 0 5px;
  width: 70px;
  text-align: center;
  color: #333;
}

a.button:hover,
a.button:active {
  background: #555;
  height: 24px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  padding: 0 5px;
  width: 70px;
  text-align: center;
  color: #CCC;
}



/*==============================*/
/* MESSAGES                     */
/*==============================*/

#messages {
  width: 280px;
  height: 80px;
  background: #000;
  color: #000;
  position: absolute;
  top: 188px;
  left: 174px;
  z-index: 3;
  display: none;
  color: #FFF;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  opacity: 0.9;
}

#messages .messages {
	background: transparent;
	border: none;
	color: #FFF!important;
	text-align: center;
	height: 80px;
	line-height: 74px;
	overflow: hidden;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

/* Disable Admin Menu */

#admin-menu { display: none; }
body.admin-menu { margin:0!important; }